*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c2ffff;
}

.cont{
    width: 550px;
    height: 550px;
    border: 3px solid rgb(116, 113, 113);
    border-radius: 15px;
    background-color: rgb(255, 253, 250);
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid{
    width: 350px;
    height: 300px;
    position: relative  ;
    top: -20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.child{
    width: 110px;
    height: 110px;
    background-color: rgb(255, 253, 250);
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns{
    position: relative;
    display: flex;
    top: 50px;
    gap: 100px;
    justify-content: space-between;
}

.play{
    position: absolute;
    top: 80px;
    right: 200px;
    background-color: rgb(121, 255, 26);
    border: 3px solid rgb(139, 255, 143); 
    width: 60px;
    height: 40px;
    border-radius: 4px;
    transition: height 0.1s, width 0.1s;
}

.play:hover{
    width: 62px;
    height: 42px;
    background-color: rgb(211, 0, 0);
    border: 3px solid rgb(255, 150, 150); 
}

.select_mode{
    position: absolute;
    top: 80px;
    z-index: 2;
    right: 50px;
    gap: 100px;
    background-color: rgb(247, 255, 87);
    border: 3px solid rgb(216, 247, 102); 
    width: 60px;
    height: 40px;
    border-radius: 4px;
    transition: height 0.1s, width 0.1s;
}

.select_mode:hover{
    width: 62px;
    height: 42px;
    background-color: rgb(255, 245, 53);
    border: 3px solid rgb(251, 255, 130);
}

.bottom{
    border-bottom: 2px solid black;
}

.top{
    border-top: 2px solid black;
}

.left{
    border-left: 4px solid black;
}

.right{
    border-right: 4px solid black;
}

.img{
    position: relative;
    top: -89px;
    left: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;

}

img{
    height: 50px;   
    width: 50px;
}

.logo img{
    height: 50px;
    width: 50px;
    margin-right: auto;
}

.img h1{
    position: relative;
    right: 50px;
}

.parent{
    position: absolute; 
    display: none;
}

.opt_cont{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.option_show {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    background-color: beige;
    border: 2px solid black;
    border-radius: 5px;
    top: 45%;
    left: 50%;
    transform: translate(-50% ,-50%);
    position: absolute;
}

.option_show h1{
    position: relative;
    top: 30px;
}

.opt{
    width: 200px;
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.opt button{
    border-radius: 5px;
}

.opt button:hover{
    background-color: rgb(255, 255, 255);
}

svg{
    width: 20px;
    height: 20px;
}

.result{
    display: none;
}

.win_or_loose{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.show{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    /* background-color: beige;
    border: 2px solid black;
    border-radius: 5px;
    top: 45%;
    left: 50%;
    transform: translate(-50% ,-50%);
    position: absolute;
    gap: 40px; */
}


